<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita id
        mollitia rerum blanditiis velit asperiores officiis, laboriosam quia, ut
        quod eligendi minima tenetur at. Tempore eligendi quaerat enim
        aspernatur iure?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ducimus
        fugit illo omnis fuga facere, eveniet officiis alias, quam animi ex,
        tenetur rerum sequi rem.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni alias
        numquam non deserunt aperiam, quos nobis voluptatem accusamus, rerum
        nisi, quo rem ipsa voluptatibus eaque saepe ipsam deleniti nihil! Sit
        eius ullam quis atque libero delectus sequi, alias aspernatur pariatur?
      </p>
    </div>
  </body>
  <%- include("./partials/footer") %>
</html>
